.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 100px;
	padding-bottom: 14vh;
	color: white;
	background-color: #212121;
}

.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 30vw;
	height: 55vh;
	padding: 10px;
	border-radius: 20px;
	background-color: gray;
	font-size: x-large;
	box-shadow: 0 4px 8px black;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: large;
	gap: 10px;
}

.company {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 20px;
	background-color: gray;
	font-size: small;
	box-shadow: 0 4px 8px black;
}

.company img {
	width: 100px;
	height: 100px;
	box-shadow: 0 4px 8px black;
}

.form label {
	text-align: left;
	font-size: larger;
}

.form input {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: large;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px black;
}

.form button {
	align-self: center;
	justify-content: center;
	font-size: large;
	background-color: White;
	border-radius: 10px;
	width: 100px;
	padding: 5px;
	border-color: transparent;
	box-shadow: 0 4px 8px black;
}

.form button:hover {
	transform: scale(1.05);
}

.form button:active {
	transform: scale(0.95);
}
